#headerDIV
{
    background-color:#242424;
    color:white;
    text-align:center;
    border-bottom-color:white;
    position:fixed;
    width:100%;
    z-index:999;
    top: 0px;
    left: 0px;
}
#MainPage
{
    position:absolute;
    left:170px;
    top:80px;
}
#nav
{
    background-color:#242424;
    float:left;
    position:fixed;
    height: 100%;
    top:80px;
    color:white;
    width:170px;
    z-index:998;
    left:0px;
}
#buttons
{
    position:relative;
    top: 19px;
    left: 7px;
    width: 151px;
    height:100%;
}
#loggedin
{
    position:relative;
    top: 53px;
    left: 2px;
}
#navLabel
{
    border: 1px solid white;
    position:relative;
    color:white;
    text-align:center;
    text-decoration:underline;
    font-size:24pt;
    top: 0px;
    left: 0px;
    height:auto;
    padding-bottom:10px;
}
